{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Actually I study. A lot.</p>
        <p>I love making my own herbal tea, learning new stuff (that's probably the reason why I study so much?...) and my 5 cats.
        Also, I have a terrible music taste, and I'm not ashamed of it.
        <p>I hope you feel comfortable with yourself right now~~~</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}